
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="color:white;">Aplikacja kolekcjonerska</a>
    <ul class="nav navbar-nav">
        <li>
            <div class="primary-btn">
                <!-- <a (click)="onOpenModal(employee, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"> </a> -->
                <a (click)= "onOpenModalAdd('add')" class="btn btn-primary" href="#">Dodaj monete</a>
            </div>
        </li>
        <li>
            <div class="primary-btn">
                <!-- <a (click)="onOpenModal(employee, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"> </a> -->
                <a (click)= "onOpenModalStampAdd('add')" class="btn btn-primary" href="#">Dodaj znaczek</a>
            </div>
        </li>
        <li>
          <div class="primary-btn">
              <!-- <a (click)="onOpenModal(employee, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"> </a> -->
              <a (click)= "onOpenModalWatchAdd('add')" class="btn btn-primary" href="#">Dodaj zegarek</a>
          </div>
      </li>
    </ul>    
</nav>
<div class="event-schedule-area-two bg-color pad100">
    <div class="container" id="main-container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <div class="title-text">
                        <h1>Aplikacja dla kolekcjonerów</h1>
                    </div>
                    <h4>
                      <p>
                          Aplikacja przechowująca zbiory zegarków, znaczków oraz monet.
                      </p>
                    </h4>  
                      
                    <div *ngFor="let totalPrice of totalPrices">
                      <h5>
                        <p>
                          Całkowita Wartość zbiorów: {{totalPrice.totalPrice}} PLN
                      </p>
                    </h5>
                    </div>      
                    
                </div>
            </div>
            <!-- /.col end-->
        </div>
        <!-- row end-->
        <div class="row">
            <div class="col-lg-12">
                <ul class="nav custom-tab" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active show" id="coin-tab" data-toggle="tab" href="#coin" role="tab" aria-controls="home" aria-selected="true">Monety</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#stamp" role="tab" aria-controls="profile" aria-selected="false">Znaczki</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#watch" role="tab" aria-controls="contact" aria-selected="false">Zegraki</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade active show" id="coin" role="tabpanel">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                </thead>
                                <tbody>
                                    <div *ngFor="let coin of coins">
                                        <!-- przejście pętlą po pracownikach -->
                                        <tr class="inner-box">
                                            <th scope="row">
                                                <div class="event-date">
                                                    <p>{{coin.dateOfProduction}}</p>
                                                </div>
                                            </th>
                                            <td>
                                                <div class="event-img">
                                                    <img src="{{coin.imageUrl}}" alt="" />
                                                </div>
                                            </td>
                                            <td>
                                                <div class="event-wrap">
                                                    <h3>{{coin.coinName}}</h3>
                                                    <div class="meta">
                                                        <div class="organizers">
                                                            <h6><p>waga: {{coin.weight}} gram<br></p></h6>
                                                        </div>
                                                        <div class="time">
                                                            <h6><p>Wartość: {{coin.prizePln}} pln</p></h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="primary-btn">
                                                    <!-- <a (click)="onOpenModal(coin, 'update')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"> </a> -->
                                                    <a (click)= "onOpenModal(coin, 'update')" class="btn btn-primary" href="#">Aktualizuj</a>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="primary-btn">
                                                    <a (click)= "onOpenModal(coin, 'delete')" class="btn btn-primary" href="#">Usuń</a>
                                                </div>
                                            </td>
                                        </tr>
                                    </div>    
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade active hidden" id="stamp" role="tabpanel">
                      <div class="table-responsive">
                          <table class="table">
                              <thead>
                                  
                              </thead>
                              <tbody>
                                  <div *ngFor="let stamp of stamps">
                                      <!-- przejście pętlą po pracownikach -->
                                      <tr class="inner-box">
                                          <th scope="row">
                                              <div class="event-date">
                                                  <p>{{stamp.dateOfProduction}}</p>
                                              </div>
                                          </th>
                                          <td>
                                              <div class="event-img">
                                                  <img src="{{stamp.imageUrl}}" alt="" />
                                              </div>
                                          </td>
                                          <td>
                                            <div class="event-wrap">
                                                <h3>{{stamp.stampName}}</h3>
                                                <div class="meta">
                                                    <div class="organizers">
                                                        <h6><p>Wartość: {{stamp.prizePln}} PLN<br></p></h6>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                          </td>
                                          <td>
                                              <div class="primary-btn">
                                                  <!-- <a (click)="onOpenModalStamp(stamp, 'update')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"> </a> -->
                                                  <a (click)= "onOpenModalStamp(stamp, 'update')" class="btn btn-primary" href="#">Aktualizuj</a>
                                                </div>
                                          </td>
                                          <td>
                                              <div class="primary-btn">
                                                  <a (click)= "onOpenModalStamp(stamp, 'delete')" class="btn btn-primary" href="#">Usuń</a>
                                              </div>
                                          </td>
                                      </tr>
                                  </div>    
                              </tbody>
                          </table>
                      </div>
                    </div>
                    <div class="tab-pane fade active hidden" id="watch" role="tabpanel">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    
                                </thead>
                                <tbody>
                                    <div *ngFor="let watch of watches">
                                        <!-- przejście pętlą po pracownikach -->
                                        <tr class="inner-box">
                                            <th scope="row">
                                                <div class="event-date">
                                                    <p>{{watch.dateOfProduction}}</p>
                                                </div>
                                            </th>
                                            <td>
                                                <div class="event-img">
                                                    <img src="{{watch.imageUrl}}" alt="" />
                                                </div>
                                            </td>
                                            <td>
                                              <div class="event-wrap">
                                                  <h3>{{watch.watchName}}</h3>
                                                  <div class="meta">
                                                    <div class="organizers">
                                                        <h6><p>waga: {{watch.weight}} gram<br></p></h6>
                                                    </div>
                                                    <div class="time">
                                                        <h6><p>Wartość: {{watch.prizePln}} pln</p></h6>
                                                    </div>
                                                </div>
                                              </div>
                                            </td>
                                            <td>
                                                <div class="primary-btn">
                                                    <!-- <a (click)="onOpenModal(employee, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"> </a> -->
                                                    <a (click)= "onOpenModalWatch(watch, 'update')" class="btn btn-primary" href="#">Aktualizuj</a>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="primary-btn">
                                                    <a (click)= "onOpenModalWatch(watch, 'delete')" class="btn btn-primary" href="#">Usuń</a>
                                                </div>
                                            </td>
                                        </tr>
                                    </div>    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /col end-->
        </div>
        <!-- /row end-->
    </div>
</div>
<!-- Edit Modal -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  
<div class="modal fade" id="addCoinModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Dodaj monete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddCoin(addForm)">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Nazwa monety</label>
            <input type="text" ngModel name="coinName" class="form-control" id="coinName">
          </div>
          
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Waga</label>
            <input type="text" ngModel name ="weight" class="form-control" id="weightId">
          </div>
          
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Kruszec</label>
            <input type="text" ngModel name ="ore" class="form-control" id="oreId">
          </div>

          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Cena w PLN</label>
            <input type="text" ngModel name ="prizePln" class="form-control" id="priceId">
          </div>
          
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">data produkcji (RRRR/MM/DD)</label>
            <input type="text" ngModel name ="dateOfProduction" class="form-control" id="dataOfProductionId">
          </div>
          
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Link do źródła obrazka</label>
            <input type="text" ngModel name ="imageUrl" class="form-control" id="imageUrlID">
          </div>
          <div class="modal-footer">
            <button type="button" id="add-coin-button-id" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Dodaj monete</button>
          </div>
        </form>
      </div>
      
    </div>
  </div>
</div>

<div class="modal fade" id="deleteCoinModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Usun monete</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Czy jesteś pewien/pewna, że chcesz usunąć monete?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
          <button type="button" (click)="onDeletCoin(deleteCoin.id)" class="btn btn-primary" data-dismiss="modal" >Usuń</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="updateCoinModal" tabindex="-1" role="dialog" aria-labelledby="updateCoinModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateCoinModalLabel">Aktualizuj monetek</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #updateCoinForm="ngForm">
            <input type="hidden" ngModel="{{updateCoin?.id}}" name="id" class="form-control" id="id">
            <input type="hidden" ngModel="{{updateCoin?.coinCode}}" name="coinCode" class="form-control" id="coinCode">
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Nazwa znaczka</label>
              <input type="text" ngModel="{{updateCoin?.coinName}}" name="stampName" class="form-control" id="stampName">
            </div>
            
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">data wydania (RRRR/MM/DD)</label>
              <input type="text" ngModel="{{updateCoin?.dateOfProduction}}" name ="dateOfProduction" class="form-control" id="dataOfProductionId">
            </div>
            
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">waga</label>
              <input type="text" ngModel="{{updateCoin?.weight}}"name ="weight" class="form-control" id="weightId">
            </div>

            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Cena w PLN</label>
                <input type="text" ngModel="{{updateCoin?.prizePln}}" name ="prizePln" class="form-control" id="dataOfProductionId">
            </div>

            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Link do źródła obrazka</label>
              <input type="text" ngModel="{{updateCoin?.imageUrl}}" name ="imageUrl" class="form-control" id="imageUrlID">
            </div>
            <div class="modal-footer">
              <button type="button" id="add-stamp-button-id" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
              <button (click)="onUpdateCoin(updateCoinForm.value)" data-dismiss="modal" class="btn btn-primary">Aktualizuj znaczek</button>
            </div>
          </form>
        </div>
        
      </div>
    </div>
  </div>

  <div class="modal fade" id="addStampModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Dodaj znaczek</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #addFormStamp="ngForm" (ngSubmit)="onAddStamp(addFormStamp)">
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Nazwa znaczka</label>
              <input type="text" ngModel name="stampName" class="form-control" id="stampName">
            </div>
            
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">data wydania (RRRR/MM/DD)</label>
              <input type="text" ngModel name ="dateOfProduction" class="form-control" id="dataOfProductionId">
            </div>
            
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Cena w PLN</label>
                <input type="text" ngModel name ="prizePln" class="form-control" id="dataOfProductionId">
            </div>

            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Link do źródła obrazka</label>
              <input type="text" ngModel name ="imageUrl" class="form-control" id="imageUrlID">
            </div>
            <div class="modal-footer">
              <button type="button" id="add-stamp-button-id" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
              <button [disabled]="addFormStamp.invalid" type="submit" class="btn btn-primary">Dodaj znaczek</button>
            </div>
          </form>
        </div>
        
      </div>
    </div>
  </div>

  <div class="modal fade" id="deleteStampModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Usuń znaczek</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Czy jesteś pewien/pewna, że chcesz usunąć znaczek?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
          <button type="button" (click)="onDeleteStamp(deleteStamp.id)" class="btn btn-primary" data-dismiss="modal" >Usuń</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="updateStampModal" tabindex="-1" role="dialog" aria-labelledby="updateStampModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateStampModalLabel">Aktualizuj znaczek</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #updateStampFormOK="ngForm">
            <input type="hidden" ngModel="{{updateStamp?.id}}" name="id" class="form-control" id="id">
            <input type="hidden" ngModel="{{updateStamp?.stampCode}}" name="stampCode" class="form-control" id="id">
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Nazwa znaczka</label>
              <input type="text" ngModel="{{updateStamp?.stampName}}" name="stampName" class="form-control" id="stampName">
            </div>
            
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">data wydania (RRRR/MM/DD)</label>
              <input type="text" ngModel="{{updateStamp?.dateOfProduction}}" name ="dateOfProduction" class="form-control" id="dataOfProductionId">
            </div>
            
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Cena w PLN</label>
                <input type="text" ngModel="{{updateStamp?.prizePln}}" name ="prizePln" class="form-control" id="dataOfProductionId">
            </div>

            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Link do źródła obrazka</label>
              <input type="text" ngModel="{{updateStamp?.imageUrl}}" name ="imageUrl" class="form-control" id="imageUrlID">
            </div>
            <div class="modal-footer">
              <button type="button" id="add-stamp-button-id" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
              <button (click)="onUpdateStamp(updateStampFormOK.value)" data-dismiss="modal" class="btn btn-primary">Aktualizuj znaczek</button>
            </div>
          </form>
        </div>
        
      </div>
    </div>
  </div>

  <div class="modal fade" id="addWatchModal" tabindex="-1" role="dialog" aria-labelledby="addWatchModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addWatchModalLabel">Dodaj zegarek</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #addWatchForm="ngForm" (ngSubmit)="onAddWatch(addWatchForm)">
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Nazwa zegarka</label>
              <input type="text" ngModel name="watchName" class="form-control" id="coinName">
            </div>
            
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Waga</label>
              <input type="text" ngModel name ="weight" class="form-control" id="weightId">
            </div>

  
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Cena w PLN</label>
              <input type="text" ngModel name ="prizePln" class="form-control" id="priceId">
            </div>
            
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">data produkcji (RRRR/MM/DD)</label>
              <input type="text" ngModel name ="dateOfProduction" class="form-control" id="dataOfProductionId">
            </div>
            
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Link do źródła obrazka</label>
              <input type="text" ngModel name ="imageUrl" class="form-control" id="imageUrlID">
            </div>

            <div class="modal-footer">
              <button type="button" id="add-coin-button-id" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
              <button [disabled]="addWatchForm.invalid" type="submit" class="btn btn-primary" >Dodaj zegarek</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="updateWatchModal" tabindex="-1" role="dialog" aria-labelledby="updateWatchModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateWatchModalLabel">Aktualizuj zegarek</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #updateWatchFormOk="ngForm">
            <input type="hidden" ngModel="{{updateWatch?.id}}" name="id" class="form-control" id="id">
            <input type="hidden" ngModel="{{updateWatch?.watchCode}}" name="watchCode" class="form-control" id="watchCodeid">
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Nazwa zegarka</label>
              <input type="text" ngModel="{{updateWatch?.watchName}}" name="watchName" class="form-control" id="stampName">
            </div>
            
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">data wydania (RRRR/MM/DD)</label>
              <input type="text" ngModel="{{updateWatch?.dateOfProduction}}" name ="dateOfProduction" class="form-control" id="dataOfProductionId">
            </div>
            
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Cena w PLN</label>
                <input type="text" ngModel="{{updateWatch?.prizePln}}" name ="prizePln" class="form-control" id="dataOfProductionId">
            </div>

            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Link do źródła obrazka</label>
              <input type="text" ngModel="{{updateWatch?.imageUrl}}" name ="imageUrl" class="form-control" id="imageUrlID">
            </div>
            <div class="modal-footer">
              <button type="button" id="add-stamp-button-id" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
              <button (click)="onUpdateWatch(updateWatchFormOk.value)" data-dismiss="modal" class="btn btn-primary">Aktualizuj znaczek</button>
            </div>
          </form>
        </div>
        
      </div>
    </div>
  </div>

  <div class="modal fade" id="deleteWatchModal" tabindex="-1" role="dialog" aria-labelledby="deleteWatchModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteWatchModalLabel">Usuń zegarek</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Czy jesteś pewien/pewna, że chcesz usunąć zegarek?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
          <button type="button" (click)="onDeleteWatch(deleteWatch.id)" class="btn btn-primary" data-dismiss="modal" >Usuń</button>
        </div>
      </div>
    </div>
  </div>