<div class="modal-body">
  <form #addForm="ngForm" (ngSubmit)="onAddCoin(addForm)">
    <div class="form-group">
      <label for="recipient-name" class="col-form-label">Nazwa monety</label>
      <input type="text" ngModel name="coinName" class="form-control" id="coinName" required>
    </div>
    
    <div class="form-group">
      <label for="recipient-name" class="col-form-label">Waga</label>
      <input type="text" ngModel name ="weight" class="form-control" id="weightId" required>
    </div>
    
    <div class="form-group">
      <label for="recipient-name" class="col-form-label">Kruszec</label>
      <input type="text" ngModel name ="ore" class="form-control" id="oreId" required>
    </div>

    <div class="form-group">
      <label for="recipient-name" class="col-form-label">Cena w PLN</label>
      <input type="text" ngModel name ="prizePln" class="form-control" id="priceId" required>
    </div>
    
    <div class="form-group">
      <label for="recipient-name" class="col-form-label">data produkcji (RRRR/MM/DD)</label>
      <input type="text" ngModel name ="dateOfProduction" class="form-control" id="dataOfProductionId" required>
    </div>
    
    <div class="form-group">
      <label for="recipient-name" class="col-form-label">Link do źródła obrazka</label>
      <input type="text" ngModel name ="imageUrl" class="form-control" id="imageUrlID" required>
    </div>
    <div class="modal-footer">
      <button [disabled]="addForm.invalid" type="submit" data-toggle="modal" data-target="#addedCoinModal"  class="btn btn-primary" >Dodaj monete</button>
    </div>
  </form>
</div>

<div class="modal fade" id="addedCoinModal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Moneta dodana</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Moneta dodana.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
      </div>
    </div>
  </div>
</div>